$fontSizes: (8, 10, 12, 14, 16);
@each $fs in $fontSizes {
    .font-#{$fs} {
        font-size: #{$fs / 16}rem !important;
    }
}
$fontWeights: (500, 600, 700);
@each $w in $fontWeights {
    .font-weight-#{$w} {
        font-weight: #{$w};
    }
}
@mixin line-clamp($line) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
}
$maxLines: (2, 3, 4);
@each $maxLine in $maxLines {
    .text-maxline-#{$maxLine} {
        @include line-clamp($maxLine);
    }
}
a:hover {
    text-decoration: none;
}
ul {
    @extend .list-unstyled;
    margin: 0;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 10rem;
}
.btn-outline-custom {
    border-color: white !important;
    color: white !important;
}
.thumbnail {
    padding-top: (9/16 * 100%);
    position: relative;
    &__images {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.border-gray {
    border-color: #333 !important;
}
.border-width-3 {
    border-width: 3px !important;
}
